.slide .sliderTrackContainer--topbar-header {
  height: 36px;
}
.slide .sliderTrackContainer .slideChildrenContainer--topbar-header {
  height: 36px;
}
.slide .sliderLayoutContainer .sliderArrows--topbar-header {
  width: 70%;
}
.slide .sliderLayoutContainer .sliderArrows--topbar-header .caretIcon {
  color: #fff;
  height: 11px;
}

.slideChildrenContainer--shelf-product {
  display: flex;
  align-items: flex-start;
}

.paginationDotsContainer .paginationDot {
  width: 89px !important;
  height: 1px !important;
  border-radius: 4px;
}
.paginationDotsContainer .paginationDot--isActive {
  width: 89px !important;
  height: 1px !important;
  border-radius: 4px;
  background-color: #5B445D;
}

.paginationDotsContainer--shelf-tablayout {
  bottom: -25px;
}
