.flexRow--topbar-header {
  background-color: #3C3C3B;
  height: 36px;
}
.flexRow--header-desktop {
  height: 60px;
  display: flex;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.flexRow--header-desktop .flexRowContent--header-desktop {
  height: 60px;
  align-items: center;
  width: min-content;
  gap: 24px;
}
.flexRow--header-desktop .flexRowContent--header-desktop .stretchChildrenWidth:nth-child(even) {
  width: auto !important;
}
.flexRow--header-desktop .flexRowContent .flexRowContent--header-icons {
  display: flex;
  align-items: center;
}
.flexRow--header-menu .flexRowContent--header-menu {
  display: flex;
  width: min-content;
  gap: 24px;
}
.flexRow--header-menu .flexRowContent--header-menu .stretchChildrenWidth {
  width: min-content !important;
  gap: 24px;
}
.flexRow--header-icons .flexRowContent {
  display: flex;
  gap: 15px;
}
.flexRow--banner-home {
  width: 100%;
  display: flex;
  justify-content: center;
}
.flexRow--banner-home :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}
.flexRow--banner-home :global(.vtex-store-components-3-x-container) .flexRowContent {
  margin-bottom: -4px;
}
.flexRow--blackbar-home {
  background-color: #3C3C3B;
  height: 62px;
  display: flex;
  align-items: center;
}
.flexRow--blackbar-home .flexCol {
  display: flex;
  align-items: center;
}
.flexRow--home-tab-container {
  margin-bottom: 70px;
}
.flexRow--home-tab-container :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: 30px;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--home-tab-container :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  right: 30px;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--discover-home {
  margin-bottom: 70px;
}
.flexRow--discover-home :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  left: 30px;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--discover-home :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  right: 30px;
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--discover-home :global(.vtex-slider-layout-0-x-sliderTrack--carousel) {
  gap: 32px;
}
.flexRow--discover-home .flexColChild {
  width: 100%;
}
.flexRow--discover-home .flexColChild :global(.vtex-store-components-3-x-imageElement) {
  width: 100%;
}
.flexRow--our-cause {
  background-color: #3C3C3B;
  height: 250px;
}
.flexRow--our-cause .flexCol {
  display: flex;
  align-items: center;
}
.flexRow--our-cause .flexRowContent--our-cause-badges {
  gap: 60px;
}
.flexRow--about-us {
  background-color: #3C3C3B;
  padding: 24px;
}
.flexRow--about-us :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--about-us :global(.vtex-slider-layout-0-x-sliderRightArrow) {
  background-color: #fff !important;
  padding: 10px;
  border-radius: 8px;
}
.flexRow--about-us :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel) {
  bottom: 25px !important;
}
.flexRow--products-home {
  margin-bottom: 70px;
}
.flexRow--gifts-home {
  margin-top: 50px;
  margin-bottom: 70px;
}
.flexRow--gifts-home .flexRowContent .stretchChildrenWidth:nth-child(odd) {
  width: 20% !important;
}
.flexRow--gifts-home .flexRowContent .stretchChildrenWidth:nth-child(even) {
  width: 80% !important;
}
.flexRow--gifts-home .flexRowContent .flexColChild:nth-child(odd) {
  display: flex;
  align-items: flex-end;
}
.flexRow--gifts-home .flexRowContent .flexColChild:nth-child(even) {
  display: flex;
  align-items: flex-start;
}
.flexRow--category-home {
  margin-top: 50px;
}
.flexRow--category-home .flexRowContent {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.flexRow--category-home .flexRowContent .stretchChildrenWidth {
  width: auto !important;
}
.flexRow--category-home .flexRowContent .stretchChildrenWidth .flexCol--category-home-content {
  width: auto !important;
}
.flexRow--blog-home {
  margin-top: 50px;
  margin-bottom: 70px;
}
.flexRow--blog-home :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf-product) {
  width: auto !important;
}
