@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.container--text-menu {
  display: flex;
  width: auto !important;
  align-items: center;
  white-space: nowrap;
}
.container--title-tablayout-home {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}
.container--about-us-title {
  display: flex;
  justify-content: center;
}
.container--discover-content {
  width: 80%;
}
.container--products-home-title {
  display: flex;
  justify-content: center;
}
.container--category-title {
  display: flex;
  justify-content: center;
}
.container .wrapper--text-menu {
  display: flex;
  justify-content: center;
}
.container .wrapper--about-us-text {
  display: flex;
  justify-content: center;
}
.container .wrapper .paragraph--topbar-header-text {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 12px;
}
.container .wrapper .paragraph--text-menu {
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: #3C3C3B;
}
.container .wrapper .paragraph--blackbar-text {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 18px;
  margin: 0;
}
.container .wrapper .paragraph--title-tablayout-home {
  font-size: 24px;
  font-weight: 700;
}
.container .wrapper .paragraph--our-cause-text {
  color: #FFFFFF;
  font-size: 18px;
}
.container .wrapper .paragraph--about-us-title {
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.container .wrapper .paragraph--about-us-text {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  width: 80%;
  text-align: center;
}
.container .wrapper .paragraph--discover-text {
  font-size: 12px;
  font-weight: 500;
  color: #949494;
  line-height: 20px;
}
.container .wrapper .paragraph--discover-title {
  font-size: 18px;
  font-weight: 700;
  color: #5B445D;
  line-height: 20px;
  margin: 0;
}
.container .wrapper .paragraph--discover-content {
  font-size: 16px;
  font-weight: 400;
  color: #393939;
  line-height: 20px;
}
.container .wrapper .paragraph--products-home-title {
  font-size: 24px;
  font-weight: 700;
}
.container .wrapper .paragraph--gifts-home-title {
  font-size: 24px;
  font-weight: 700;
  color: #5B445D;
}
.container .wrapper .paragraph--gifts-home-text {
  font-size: 16px;
  font-weight: 400;
  color: #5B445D;
}
.container .wrapper .paragraph--category-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
