.flexRow {
  &--topbar-header {
    background-color: #3C3C3B;
    height: 36px;
  }

  &--header-desktop {
    height: 60px;
    display: flex;
    margin: 0 auto;
    background-color: #FFFFFF;
      
    .flexRowContent {
      &--header-desktop {
        height: 60px;
        align-items: center;
        width: min-content;
        gap: 24px;

        .stretchChildrenWidth {
          &:nth-child(even) {
            width: auto !important;
          }
        }
      }

      .flexRowContent {
        &--header-icons {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &--header-menu {
    .flexRowContent {
      &--header-menu {
        display: flex;
        width: min-content;
        gap: 24px;
        
        .stretchChildrenWidth {
          width: min-content !important;
          gap: 24px;
        }
      }
    }
  }

  &--header-icons {
    .flexRowContent {
      display: flex;
      gap: 15px;
    }
  }

  &--banner-home {
    width: 100%;
    display: flex;
    justify-content: center;

    :global(.vtex-store-components-3-x-container) {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      width: 100%;

      .flexRowContent {
        margin-bottom: -4px;
      }
    }
  }

  &--blackbar-home {
    background-color: #3C3C3B;
    height: 62px;
    display: flex;
    align-items: center;

    .flexCol {
      display: flex;
      align-items: center;
    }
  }

  &--home-tab-container {
    margin-bottom: 70px;
  }

  &--our-cause {
    background-color: #3C3C3B;
    height: 250px;

    .flexCol {
      display: flex;
      align-items: center;
    }

    .flexRowContent {
      &--our-cause-badges {
        gap: 60px;
      }
    }
  }

  &--about-us {
    background-color: #3C3C3B;
    padding: 24px;
  }
}
