@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  &--text-menu {
    display: flex;
    width: auto !important;
    align-items: center;
    white-space: nowrap;
  }

  .wrapper {
    &--text-menu {
      display: flex;
      justify-content: center;
    }

    .paragraph {
      &--topbar-header-text {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 12px;
      }

      &--text-menu {
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        color: #3C3C3B;
      }
    }
  }
}