.flexRow {
  &--topbar-header {
    background-color: #3C3C3B;
    height: 36px;
  }

  &--header-desktop {
    height: 60px;
    display: flex;
    margin: 0 auto;
    background-color: #FFFFFF;
      
    .flexRowContent {
      &--header-desktop {
        height: 60px;
        align-items: center;
        width: min-content;
        gap: 24px;

        .stretchChildrenWidth {
          &:nth-child(even) {
            width: auto !important;
          }
        }
      }

      .flexRowContent {
        &--header-icons {
          display: flex;
          align-items: center;
        }
      }
    }
  }

  &--header-menu {
    .flexRowContent {
      &--header-menu {
        display: flex;
        width: min-content;
        gap: 24px;
        
        .stretchChildrenWidth {
          width: min-content !important;
          gap: 24px;
        }
      }
    }
  }

  &--header-icons {
    .flexRowContent {
      display: flex;
      gap: 15px;
    }
  }

  &--banner-home {
    width: 100%;
    display: flex;
    justify-content: center;

    :global(.vtex-store-components-3-x-container) {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 100%;

      .flexRowContent {
        margin-bottom: -4px;
      }
    }
  }

  &--blackbar-home {
    background-color: #3C3C3B;
    height: 62px;
    display: flex;
    align-items: center;

    .flexCol {
      display: flex;
      align-items: center;
    }
  }

  &--home-tab-container {
    margin-bottom: 70px;

    :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
        left: 30px;
        background-color: #fff !important;
        padding: 10px;
        border-radius: 8px;
      }

      :global(.vtex-slider-layout-0-x-sliderRightArrow) {
        right: 30px;
        background-color: #fff !important;
        padding: 10px;
        border-radius: 8px;
      }
  }

  &--discover-home {
    margin-bottom: 70px;

    :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
        left: 30px;
        background-color: #fff !important;
        padding: 10px;
        border-radius: 8px;
      }

      :global(.vtex-slider-layout-0-x-sliderRightArrow) {
        right: 30px;
        background-color: #fff !important;
        padding: 10px;
        border-radius: 8px;
      }

      :global(.vtex-slider-layout-0-x-sliderTrack--carousel) {
        gap: 32px;
      }


    .flexColChild {
      width: 100%;

      :global(.vtex-store-components-3-x-imageElement) {
        width: 100%;
      }
    }
  }

  &--our-cause {
    background-color: #3C3C3B;
    height: 250px;

    .flexCol {
      display: flex;
      align-items: center;
    }

    .flexRowContent {
      &--our-cause-badges {
        gap: 60px;
      }
    }
  }

  &--about-us {
    background-color: #3C3C3B;
    padding: 24px;

    :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
      background-color: #fff !important;
      padding: 10px;
      border-radius: 8px;
    }

    :global(.vtex-slider-layout-0-x-sliderRightArrow) {
      background-color: #fff !important;
      padding: 10px;
      border-radius: 8px;
    }

    :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel) {
      bottom: 25px !important;
    }
  }

  &--products-home {
    margin-bottom: 70px;
  }

  &--gifts-home {
    margin-top: 50px;
    margin-bottom: 70px;

    .flexRowContent {
      .stretchChildrenWidth {
        &:nth-child(odd) {
          width: 20% !important;
        }

        &:nth-child(even) {
          width: 80% !important;
        }
      }

      .flexColChild {
        &:nth-child(odd) {
          display: flex;
          align-items: flex-end; 
        }

        &:nth-child(even) {
          display: flex;
          align-items: flex-start;  
        }
      }
    }
  }

  &--category-home {
    margin-top: 50px;

    .flexRowContent {
      display: flex;
      justify-content: center;
      gap: 25px;

      .stretchChildrenWidth {
        width: auto !important;

      .flexCol {
        &--category-home-content {
          width: auto !important;
        }
      }
    }
    }
  }

  &--blog-home {
    margin-top: 50px;
    margin-bottom: 70px;

    :global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf-product) {
      width: auto !important;
    }
  }
}
