@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.container {
  &--text-menu {
    display: flex;
    width: auto !important;
    align-items: center;
    white-space: nowrap;
  }

  &--title-tablayout-home {
    display: flex;
    justify-content: center;
    margin-top: 32px; 
  }

  &--about-us-title {
    display: flex;
    justify-content: center;
  }

  &--discover-content {
    width: 80%;
  }

  &--products-home-title {
    display: flex;
    justify-content: center;
  }

  .wrapper {
    &--text-menu {
      display: flex;
      justify-content: center;
    }

    &--about-us-text {
      display: flex;
      justify-content: center;
    }

    .paragraph {
      &--topbar-header-text {
        color: #fff;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-style: bold;
        font-size: 12px;
      }

      &--text-menu {
        font-weight: 500;
        font-size: 12px;
        cursor: pointer;
        color: #3C3C3B;
      }
      
      &--blackbar-text {
        font-size: 16px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 18px;
        margin: 0;
      }

      &--title-tablayout-home {
        font-size: 24px;
        font-weight: 700;
      }

      &--our-cause-text {
        color: #FFFFFF;
        font-size: 18px;
      }

      &--about-us-title {
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
      }

      &--about-us-text {
        font-size: 16px;
        font-weight: 400;
        color: #FFFFFF;
        width: 80%;
        text-align: center;
      }

      &--discover-text {
        font-size: 12px;
        font-weight: 500;
        color: #949494;
        line-height: 20px;
      }

      &--discover-title {
        font-size: 18px;
        font-weight: 700;
        color: #5B445D;
        line-height: 20px;
        margin: 0;
      }

      &--discover-content {
        font-size: 16px;
        font-weight: 400;
        color: #393939;
        line-height: 20px;
      }

      &--products-home-title {
        font-size: 24px;
        font-weight: 700;
      }

      &--gifts-home-title {
        font-size: 24px;
        font-weight: 700;
        color: #5B445D;
      }

      &--gifts-home-text {
        font-size: 16px;
        font-weight: 400;
        color: #5B445D;
      }
    }
  }
}